@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+1p&display=swap");

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 8px;
	background: #c0c0c0;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}