::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 8px;
	background: #c0c0c0;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}
