@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+1p&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 8px;
    background: #c0c0c0;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}