---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { ViewTransitions } from "astro:transitions";
const { item } = Astro.props;
const id = item.data.embed ? item.data.embed.split("v=")[1] : null;
const thumbnail = item.thumbnail;
---

<div class="w-full aspect-video relative youtube-embed" data-youtube-id={id}>
    <ViewTransitions />
    <Image
        src={thumbnail}
        alt={item.data.title || "Thumbnail"}
        class={`w-full h-full object-cover ${id ? "cursor-pointer" : ""}`}
        loading="eager"
        transition:name={`thumbnail-${item.slug}`}
    />
    {
        id && (
            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-0 hover:bg-opacity-50 transition-all ease-out-expo duration-1000">
                <button class="shadow-2xl py-2 px-8 hover:scale-110 hover:bg-cumulodark hover:text-white hover:border bg-white text-cumulodark rounded-full font-bold flex items-center justify-center text-xl gap-2 transition-all ease-out-expo">
                    <Icon name="fa6-solid:play" />
                    <p>Play</p>
                </button>
            </div>
        )
    }
</div>

<script>
    function loadYouTubeAPI() {
        const tag = document.createElement("script");
        tag.src = "https://www.youtube.com/iframe_api";
        const firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }

    function onYouTubeIframeAPIReady() {
        const containers = document.querySelectorAll(".youtube-embed");
        containers.forEach((container) => {
            const youtubeId = container.getAttribute("data-youtube-id");
            if (!youtubeId) return;

            container.addEventListener("click", () => {
                new YT.Player(container, {
                    videoId: youtubeId,
                    width: "100%",
                    height: "100%",
                    events: {
                        onReady: (event) => {
                            event.target.playVideo();
                        },
                    },
                });
            });
        });
    }

    loadYouTubeAPI();
    window.onYouTubeIframeAPIReady = onYouTubeIframeAPIReady;
</script>
