<footer
    class="font-bold text-sm bg-black flex flex-col md:flex-row min-h-20 md:min-h-10 items-center justify-center md:justify-between gap-2 text-inactive px-4">
    <div>
        <p>© {new Date().getFullYear()} Cumuloworks</p>
    </div>
    <nav class="space-x-5">
        <a href="/scta">特定商取引法に基づく表示</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/company">Company</a>
    </nav>
</footer>
