---
import { Icon } from "astro-icon/components";
import Logo from "../atoms/Logo.astro";
import SocialIcon from "../atoms/SocialIcon.astro";

const SocialIcons = [
    { href: "https://x.com/cumuloworks", icon: "fa6-brands:x-twitter" },
    { href: "https://facebook.com/cumuloworks", icon: "fa6-brands:facebook" },
    { href: "https://instagram.com/cumuloworks", icon: "fa6-brands:instagram" },
    { href: "https://www.youtube.com/cumuloworks", icon: "fa6-brands:youtube" },
];
---

<header class="flex bg-white text-cumulodark md:min-h-60 min-h-60">
    <nav
        class="flex w-full justify-between items-center mx-auto font-bold uppercase max-w-screen-xl px-5"
    >
        <ul class="md:flex flex-1 gap-5 text-left hidden">
            {
                SocialIcons.map((link) => (
                    <SocialIcon href={link.href} icon={link.icon} />
                ))
            }
        </ul>
        <div class="flex flex-col items-center mx-auto">
            <a href="/">
                <svg
                    class="w-96 fill-cumulodark hover:fill-cumulolight -mt-5"
                    viewBox="0 0 1059.27 244.1"
                >
                    <Logo />
                </svg>
            </a>
            <ul class="flex gap-5">
                <li>
                    <a href="/projects" class="hover:text-cumulolight">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="/blogs" class="hover:text-cumulolight">Blogs</a>
                </li>
                <li>
                    <a href="/downloads" class="hover:text-cumulolight"
                        >Downloads</a
                    >
                </li>
                <li class="block md:hidden">
                    <a href="/about" class="hover:text-cumulolight">About</a>
                </li>
            </ul>
            <ul class="md:hidden flex-1 gap-5 text-left flex mt-6">
                {
                    SocialIcons.map((link) => (
                        <SocialIcon href={link.href} icon={link.icon} />
                    ))
                }
                <li>
                    <a
                        href="/about#contact"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Icon
                            name="fa6-solid:envelope"
                            class="size-6 hover:text-cumulolight"
                        />
                    </a>
                </li>
            </ul>
        </div>
        <ul
            class="md:flex hidden flex-1 flex-col md:flex-row justify-end gap-5 text-right"
        >
            <li>
                <a href="/about" class="hover:text-cumulolight">About</a>
            </li>
            <li>
                <a href="/about#contact" class="hover:text-cumulolight"
                    >Contact</a
                >
            </li>
        </ul>
    </nav>
</header>
