---
import SMPTE from "../components/SMPTE.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="505 - Internal Server Error" limit={false}>
    <div
        class="w-full h-full flex justify-center items-center relative bg-[#181818]"
    >
        <div
            class="absolute inset-0 from-transparent [background-size:200%_200%] [background-position:50%_50%] [background-image:linear-gradient(to_bottom_right,transparent_calc(50%-2px),red,transparent_calc(50%+2px))]"
        >
        </div>
        <div
            class="absolute inset-0 from-transparent [background-size:200%_200%] [background-position:50%_50%] [background-image:linear-gradient(to_bottom_left,transparent_calc(50%-2px),red,transparent_calc(50%+2px))]"
        >
        </div>
        <div class="absolute text-white text-center">
            <h1 class="text-9xl font-black">500</h1>
            <p class="text-4xl font-bold">Internal Server Error</p>
        </div>
    </div>
</BaseLayout>
