---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/markdown.css";
import Slider from "../components/content/Slideshow.astro";

const title = "Company";
const description = "合同会社キュムロワークス(Cumuloworks, Inc.)基本情報";
---

<BaseLayout title={title} description={description}>
  <div class="markdown-content">
    <h1 class="!mt-0">合同会社キュムロワークス</h1>
    <h2 class="text-center">Cumuloworks, Inc.</h2>

    <div
      class="w-full flex flex-col md:flex-row rounded-lg leading-loose gap-8 mt-10 mb-20 p-5 shadow-2xl">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12962.091785508701!2d139.703594!3d35.6887468!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cdad6ab8469%3A0x64d17f48b1e4ee!2z44Os44Kk44OV44Op44OD44OI5paw5a6_!5e0!3m2!1sja!2sjp!4v1692024803570!5m2!1sja!2sjp"
        width="100%"
        height="100%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="rounded-lg overflow-hidden md:w-1/2 w-full h-96 saturate-0 brightness-90 contrast-125"
      ></iframe>
      <div class="md:w-1/2 w-full p-0 flex flex-col gap-5 justify-center">
        <h2>HEAD OFFICE</h2>
        <div>
          <p>〒160-0022</p>
          <p>東京都新宿区新宿4-3-15 レイフラット新宿309</p>
          <p>
            （新宿三丁目駅 E7出口 出てすぐ / 新宿駅 ミライナタワー改札 徒歩5分)
          </p>
        </div>
        <button class="border rounded-full">
          <p class="font-bold">Google Maps</p>
        </button>
      </div>
    </div>
    <h2>基本情報</h2>
    <h3>メール</h3>
    <p>mail@cumulo.works</p>

    <h3>設立日</h3>
    <p>2021年9月1日</p>

    <h3>資本金</h3>
    <p>1,000,000円</p>

    <h3>代表</h3>
    <p>江口 智哉</p>

    <h3>適格請求書発行事業者番号</h3>
    <p>T4010903006774</p>

    <h2>事業内容</h2>
    <ul>
      <li>映像およびCGの制作</li>
      <li>前号に関するソフトウェアの販売</li>
      <li>前各号に関する講師業</li>
      <li>前各号に付帯関連する一切の事業</li>
    </ul>

    <h2>主要取引先</h2>
    <p>
      株式会社たき工房, 株式会社ボーンデジタル, 株式会社AOI Pro., 株式会社EPOCH,
      株式会社IRIAM, 株式会社THINKR, 株式会社TYO, 株式会社xpd, ginghami株式会社,
      等
    </p>

    <h2>取引銀行</h2>
    <p>PayPay銀行</p>
    <Slider folderPath={"/src/assets/company/"} />
  </div>
</BaseLayout>
