---
import { Icon } from "astro-icon/components";
import Logo from "../atoms/Logo.astro";
import Modal from "../atoms/Modal.astro";
import TopPageNavigation from "./TopPageNavigation.astro";
---

<header
    class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center z-10 text-white">
    <a href="/" class="w-5/6 max-w-screen-sm">
        <svg class="fill-white" viewBox="0 0 1059.27 244.1">
            <Logo />
        </svg></a
    >
    <a href="/about" class="font-bold md:text-xl">
        Director / Motion Designer / CG Generalist
    </a>
    <div class="text-white text-center gap-5 mt-10">
        <button
            id="showreelButton"
            class="flex items-center text-xl border hover:bg-white hover:text-cumulodark transition-colors duration-300 rounded-full text-inactive border-inactive font-bold py-2 px-8">
            <Icon name="fa6-solid:play" class="mr-4" />
            <p>PLAY SHOWREEL</p>
        </button>
    </div>
    <TopPageNavigation />
    <button id="scrollDownButton" class="absolute bottom-8 lg:bottom-10">
        <Icon
            name="fa6-solid:chevron-down"
            class="size-5 hover:size-10 transition-all ease-out-expo"
        />
    </button>

    <Modal id="showreelModal">
        <iframe
            width="100%"
            src=""
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            class="aspect-video youtube"></iframe>
    </Modal>

    <script>
        const showreelButton = document.getElementById("showreelButton");
        const showreelModal = document.getElementById("showreelModal");
        const youtubeUrl =
            "https://www.youtube.com/embed/ES8CtZN4e5g?si=QWCdv-hD9W1IeCL5";

        if (showreelButton && showreelModal instanceof HTMLDialogElement) {
            const iframe = showreelModal.querySelector("iframe.youtube");

            showreelButton.addEventListener("click", () => {
                if (window.matchMedia("(min-width: 768px)").matches) {
                    showreelModal.showModal();
                    if (iframe instanceof HTMLIFrameElement) {
                        iframe.src = youtubeUrl;
                    }
                } else {
                    window.open(
                        youtubeUrl.replace("/embed/", "/watch?v="),
                        "_blank",
                    );
                }
            });

            showreelModal.addEventListener("modal-closed", () => {
                if (iframe instanceof HTMLIFrameElement) {
                    iframe.src = "";
                }
            });
        }

        const scrollDownButton = document.getElementById("scrollDownButton");
        if (scrollDownButton) {
            scrollDownButton.addEventListener("click", () => {
                window.scrollTo({
                    top: window.innerHeight,
                    behavior: "smooth",
                });
            });
        }
    </script>
</header>
