---
import SocialIcon from "../atoms/SocialIcon.astro";

const SocialIcons = [
    { href: "https://x.com/cumuloworks", icon: "fa6-brands:x-twitter" },
    { href: "https://facebook.com/cumuloworks", icon: "fa6-brands:facebook" },
    { href: "https://instagram.com/cumuloworks", icon: "fa6-brands:instagram" },
    { href: "https://www.youtube.com/cumuloworks", icon: "fa6-brands:youtube" },
    { href: "https://github.com/cumuloworks", icon: "fa6-brands:github" },
];
---

<nav class="font-bold uppercase">
    <div class="absolute left-8 lg:left-20 bottom-8 lg:bottom-24">
        <ul
            class="grid grid-cols-2 lg:grid-cols-6 gap-5 text-center text-inactive">
            {
                SocialIcons.map((link) => (
                    <SocialIcon href={link.href} icon={link.icon} dark={true} />
                ))
            }
            <SocialIcon
                href={"/about#contact"}
                icon={"fa6-solid:envelope"}
                dark={true}
                customClass="lg:hidden"
            />
        </ul>
    </div>
    <div
        class="absolute right-8 lg:right-1/2 lg:translate-x-1/2 bottom-8 lg:bottom-24">
        <ul
            class="flex flex-col lg:flex-row w-full gap-5 lg:gap-5 text-right lg:text-center text-inactive">
            <li>
                <a href="/projects" class="hover:text-active">Projects</a>
            </li>
            <li>
                <a href="/blogs" class="hover:text-active">Blogs</a>
            </li>
            <li>
                <a href="/downloads" class="hover:text-active">Downloads</a>
            </li>
            <li class="lg:hidden">
                <a href="/about" class="hover:text-active">About</a>
            </li>
        </ul>
    </div>
    <div class="absolute right-8 lg:right-20 bottom-8 lg:bottom-24">
        <ul
            class="hidden lg:flex flex-col lg:flex-row w-full gap-5 text-right text-inactive">
            <li>
                <a href="/about" class="hover:text-active">About</a>
            </li>
            <li>
                <a href="/about#contact" class="hover:text-active">Contact</a>
            </li>
        </ul>
    </div>
</nav>
