---
import Card from "@/components/content/Card.astro";
const { category, description, projects } = Astro.props;
---

<div>
    <h2 class="text-3xl md:text-4xl hover:text-active uppercase mb-2">
        {category}
    </h2>
    <p class="mb-8">{description}</p>
    <div class="grid grid-cols-2 gap-1">
        {
            projects
                .slice(0, 6)
                .map((project, index) => <Card item={project} loading="lazy" />)
        }
    </div>
</div>
