---
import { Icon } from "astro-icon/components";
---

<footer class="bg-gray-800 text-white p-4">
    <p>© {new Date().getFullYear()} Cumuloworks</p>
    <a href="/privacy">Privacy Policy</a>
    <a href="/company">Company</a>
    <a href="/scta">特定商取引法に基づく表示</a>
</footer>
