---
import { Icon } from "astro-icon/components";
---

<ul class="flex flex-1 gap-6 text-left">
    <li>
        <a
            href="https://www.youtube.com/@cumuloworks"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon
                name="fa6-brands:facebook"
                class="size-6 hover:text-cumulolight"
            />
        </a>
    </li>
    <li>
        <a
            href="https://www.youtube.com/@cumuloworks"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon
                name="fa6-brands:x-twitter"
                class="size-6 hover:text-cumulolight"
            />
        </a>
    </li>
    <li>
        <a
            href="https://www.youtube.com/@cumuloworks"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon
                name="fa6-brands:youtube"
                class="size-6 hover:text-cumulolight"
            />
        </a>
    </li>
</ul>
