<div class="w-full h-full bg-black">
    <div class="flex w-full h-2/3">
        <div class="bg-[#ccc] w-full h-full"></div>
        <div class="bg-[#ff0] w-full h-full"></div>
        <div class="bg-[#0ff] w-full h-full"></div>
        <div class="bg-[#0f0] w-full h-full"></div>
        <div class="bg-[#f0f] w-full h-full"></div>
        <div class="bg-[#f00] w-full h-full"></div>
        <div class="bg-[#00f] w-full h-full"></div>
    </div>
    <div class="flex w-full h-[8.33%]">
        <div class="bg-[#00f] w-full h-full"></div>
        <div class="bg-[#000] w-full h-full"></div>
        <div class="bg-[#f0f] w-full h-full"></div>
        <div class="bg-[#000] w-full h-full"></div>
        <div class="bg-[#0ff] w-full h-full"></div>
        <div class="bg-[#000] w-full h-full"></div>
        <div class="bg-[#ccc] w-full h-full"></div>
    </div>
    <div class="flex w-full h-[12.5%]">
        <div class="bg-gradient-to-r from-white to-black w-[60%] h-full"></div>
        <div class="bg-gradient-to-r from-white to-black w-[40%] h-full"></div>
    </div>
    <div class="flex w-full h-[12.5%]">
        <div class="flex w-[calc(4/7*100%)]">
            <div class="bg-[#000000] w-full h-full"></div>
            <div class="bg-[#171717] w-full h-full"></div>
            <div class="bg-[#2e2e2e] w-full h-full"></div>
            <div class="bg-[#454545] w-full h-full"></div>
            <div class="bg-[#5c5c5c] w-full h-full"></div>
            <div class="bg-[#737373] w-full h-full"></div>
            <div class="bg-[#8b8b8b] w-full h-full"></div>
            <div class="bg-[#a2a2a2] w-full h-full"></div>
            <div class="bg-[#b9b9b9] w-full h-full"></div>
            <div class="bg-[#e0e0e0] w-full h-full"></div>
            <div class="bg-[#e7e7e7] w-full h-full"></div>
            <div class="bg-[#ffffff] w-full h-full"></div>
        </div>
        <div class="bg-[#000] w-[calc(3/7*100%)] h-full"></div>
    </div>
</div>
