---
import GlassPanel from "@/components/atoms/GlassPanel.astro";
---

<a
    href="https://kumo.productions/"
    target="_blank"
    rel="noopener noreferrer"
    class="block">
    <GlassPanel class="max-w-screen-xl mx-auto fixed top-4 left-4 right-4 z-50 rounded-lg">
        <div class="max-w-screen-xl mx-auto px-12 py-8 flex items-center justify-between">
            <div class="flex flex-col gap-2">
                <div class="w-72">
                    <svg
                        id="b"
                        data-name="logo"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 265.66 28.58">
                        <g id="c" data-name="logo">
                            <polygon
                                points="0 21.67 0 1.39 2.5 1.39 2.5 12.97 2.8 12.97 9.31 6.46 12.62 6.46 5.12 13.75 12.8 21.67 9.46 21.67 2.8 14.59 2.5 14.59 2.5 21.67 0 21.67"
                                style="fill: #fff;"></polygon>
                            <path
                                d="M29.98,6.46v15.21h-2.5v-2.08h-.3c-1.05,1.66-2.77,2.62-4.76,2.62-3.88,0-6.32-2.8-6.32-6.69V6.46h2.5v9.07c0,2.59,1.51,4.43,4.13,4.43s4.76-1.96,4.76-4.64V6.46h2.5Z"
                                style="fill: #fff;"></path>
                            <path
                                d="M34.43,21.67V6.46h2.41v2.02h.3c.84-1.57,2.44-2.62,4.43-2.62,2.14,0,4.1,1.18,4.97,2.95h.27c1.05-1.78,2.8-2.92,5.09-2.92,3.59,0,6.15,2.77,6.15,6.72v9.07h-2.5v-9.1c0-2.59-1.66-4.46-3.95-4.46-2.44,0-4.16,1.87-4.16,4.46v9.1h-2.5v-9.1c0-2.68-1.57-4.46-3.92-4.46-2.47,0-4.1,1.78-4.1,4.46v9.1h-2.5Z"
                                style="fill: #fff;"></path>
                            <path
                                d="M61.09,14.05c0-4.79,3.37-8.19,8.16-8.19s8.16,3.4,8.16,8.19-3.4,8.22-8.16,8.22-8.16-3.4-8.16-8.22M74.91,14.05c0-3.43-2.38-5.93-5.66-5.93s-5.66,2.5-5.66,5.93,2.35,5.96,5.66,5.96,5.66-2.5,5.66-5.96"
                                style="fill: #fff;"></path>
                            <path
                                d="M78.66,20.37c0-.94.65-1.62,1.62-1.62s1.62.68,1.62,1.62-.68,1.62-1.62,1.62-1.62-.68-1.62-1.62"
                                style="fill: #fff;"></path>
                            <path
                                d="M103.23,14.04c0,4.76-3.4,8.22-7.83,8.22-2.44,0-4.49-1.05-5.6-2.86h-.27v9.19h-2.5V6.45h2.5v2.32h.27c1.11-1.84,3.07-2.92,5.57-2.92,4.43,0,7.86,3.43,7.86,8.19M89.44,14.04c0,3.34,2.38,5.96,5.66,5.96s5.63-2.62,5.63-5.96-2.38-5.93-5.63-5.93-5.66,2.59-5.66,5.93"
                                style="fill: #fff;"></path>
                            <path
                                d="M106.34,21.66V6.45h2.44v2.05h.27c.69-1.39,2.38-2.35,4.07-2.35.69,0,1.42.15,1.87.39v2.32c-.78-.33-1.69-.45-2.26-.45-2.29,0-3.88,2.05-3.88,5.06v8.19h-2.5Z"
                                style="fill: #fff;"></path>
                            <path
                                d="M116.37,14.04c0-4.79,3.37-8.19,8.16-8.19s8.16,3.4,8.16,8.19-3.4,8.22-8.16,8.22-8.16-3.4-8.16-8.22M130.19,14.04c0-3.43-2.38-5.93-5.66-5.93s-5.66,2.5-5.66,5.93,2.35,5.96,5.66,5.96,5.66-2.5,5.66-5.96"
                                style="fill: #fff;"></path>
                            <path
                                d="M135.27,14.04c0-4.76,3.4-8.19,7.86-8.19,2.44,0,4.46,1.03,5.57,2.86h.3V1.39h2.5v20.27h-2.5v-2.35h-.3c-1.11,1.87-3.07,2.95-5.54,2.95-4.46,0-7.89-3.46-7.89-8.22M149.06,14.04c0-3.34-2.38-5.93-5.63-5.93s-5.66,2.59-5.66,5.93,2.41,5.96,5.66,5.96,5.63-2.62,5.63-5.96"
                                style="fill: #fff;"></path>
                            <path
                                d="M169.09,6.45v15.21h-2.5v-2.08h-.3c-1.05,1.66-2.77,2.62-4.76,2.62-3.88,0-6.32-2.8-6.32-6.69V6.45h2.5v9.07c0,2.59,1.51,4.43,4.13,4.43s4.76-1.96,4.76-4.64V6.45h2.5Z"
                                style="fill: #fff;"></path>
                            <path
                                d="M172.2,14.04c0-4.76,3.31-8.19,7.92-8.19,3.73,0,6.84,2.35,7.41,5.6l-2.44.33c-.54-2.2-2.62-3.67-4.94-3.67-3.1,0-5.48,2.44-5.45,5.93,0,3.52,2.32,5.96,5.42,5.96,2.38,0,4.4-1.48,5-3.61l2.47.33c-.69,3.22-3.83,5.54-7.47,5.54-4.61,0-7.95-3.46-7.92-8.22"
                                style="fill: #fff;"></path>
                            <path
                                d="M192.39,17.74v-9.31h-2.47v-1.99h2.47l.57-4.91h1.96l-.03,4.91h3.91v1.99h-3.91v9.22c0,1.45.9,2.47,2.35,2.47.45,0,1.23-.12,1.81-.3v2.02c-.72.24-1.72.39-2.47.39-2.56,0-4.19-1.81-4.19-4.49"
                                style="fill: #fff;"></path>
                            <path
                                d="M202.17,1.75c0-1.02.75-1.75,1.81-1.75s1.78.72,1.78,1.75-.72,1.81-1.78,1.81-1.81-.75-1.81-1.81M202.71,6.45h2.5v15.21h-2.5V6.45Z"
                                style="fill: #fff;"></path>
                            <path
                                d="M208.32,14.04c0-4.79,3.37-8.19,8.16-8.19s8.16,3.4,8.16,8.19-3.4,8.22-8.16,8.22-8.16-3.4-8.16-8.22M222.14,14.04c0-3.43-2.38-5.93-5.66-5.93s-5.66,2.5-5.66,5.93,2.35,5.96,5.66,5.96,5.66-2.5,5.66-5.96"
                                style="fill: #fff;"></path>
                            <path
                                d="M227.75,21.66V6.45h2.5v2.08h.3c1.08-1.69,2.77-2.65,4.79-2.65,3.85,0,6.32,2.83,6.32,6.69v9.1h-2.5v-9.1c0-2.56-1.54-4.43-4.16-4.43s-4.76,1.99-4.76,4.64v8.88h-2.5Z"
                                style="fill: #fff;"></path>
                            <path
                                d="M244.71,16.51h2.41c.03,2.17,1.72,3.64,4.58,3.64,2.29,0,3.77-.96,3.77-2.56,0-1.99-2.08-2.14-4.37-2.44-2.83-.33-6.11-1.08-6.11-4.55,0-2.95,2.47-4.76,6.11-4.76s6.39,2.02,6.39,5.15h-2.44c-.03-1.87-1.63-3.04-3.98-3.04-2.2,0-3.7.99-3.7,2.56,0,1.9,2.05,2.05,4.31,2.32,2.86.36,6.14,1.09,6.14,4.73,0,2.98-2.32,4.7-6.21,4.7-4.37,0-6.9-2.14-6.9-5.75"
                                style="fill: #fff;"></path>
                            <polygon
                                points="259.59 5.48 259.59 2.83 258.54 2.83 258.54 2.2 261.4 2.2 261.4 2.83 260.35 2.83 260.35 5.48 259.59 5.48"
                                style="fill: #fff;"></polygon>
                            <polygon
                                points="261.77 5.48 261.77 2.2 262.82 2.2 263.69 4.53 263.73 4.53 264.58 2.2 265.66 2.2 265.66 5.48 264.91 5.48 264.91 3.22 264.87 3.22 264.02 5.48 263.4 5.48 262.56 3.22 262.51 3.22 262.51 5.48 261.77 5.48"
                                style="fill: #fff;"></polygon>
                        </g>
                    </svg>
                </div>
                <span class="text-sm font-medium text-white">
                    2025年より、映像制作業務をkumo.productions™ に移管します。詳細はこちらのバナーをクリックしてください。
                </span>
            </div>
        </div>
    </GlassPanel>
</a>
