---
interface Props {
    class?: string;
    theme?: "dark" | "light";
}

const { class: className, theme = "light" } = Astro.props;
---

<div
    class:list={[
        theme === "dark"
            ? " border-black/20"
            : "bg-white/10 border-white/20 hover:bg-white/15",
        "backdrop-blur-md",
        "border",
        "shadow-lg",
        "rounded-lg",
        "transition-all duration-300 ease-out",
        className,
    ]}>
    <slot />
</div>
