---
import { Icon } from "astro-icon/components";

const {
    href,
    icon,
    dark = false,
    customClass = "",
} = Astro.props;
---

<li class={customClass}>
    <a
        href={href}
        aria-label={`Visit ${icon.split(":")[1].replace("fa6-brands:", "")} page`}
        class="inline-block">
        <Icon
            name={icon}
            class={`size-5 ${dark ? "text-inactive hover:text-active" : "text-cumulodark hover:text-cumulolight"}`}
            aria-hidden="true"
        />
        <span class="sr-only"
            >{icon.split(":")[1].replace("fa6-brands:", "")}</span
        >
    </a>
</li>
