---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/markdown.css";

const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body class="flex flex-col h-svh">
        <Header />
        <main class="mx-auto mt-8 max-w-screen-md flex-grow">
            <article>
                <slot name="hero" />
                <div class="markdown-content">
                    <slot />
                </div>
                {
                    frontmatter.title === "About" ? (
                        <form
                            action="https://formspree.io/f/xeqbeynz"
                            method="POST"
                        >
                            <label>
                                Your email:
                                <input type="email" name="email" />
                            </label>
                            <label>
                                Your message:
                                <textarea name="message" />
                            </label>
                            <button type="submit">Send</button>
                        </form>
                    ) : (
                        <slot name="additional-content" />
                    )
                }
            </article>
        </main>
        <Footer />
    </body>
</html>
