---
import BaseLayout from "./BaseLayout.astro";
import "../styles/markdown.css";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <article class="w-full">
        <div class="markdown-content">
            <h1 class="!mb-10">{frontmatter.title}</h1>
            <div class="max-w-screen-md mx-auto">
                <slot />
            </div>
        </div>
    </article>
</BaseLayout>
